	<head>
		<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>

<body>
 
	<% unless current_user %>
	<form>	
		<a class="btn" href="/sessions/new">Login</a>
		<a class="btn" href="/users/new">Sign Up</a>
	</form>
	<% end %>
	
	<h1>Bookmark Manager</h1>
	<div>
		<form action='/' method="POST">
			<label> Title </label>
			<input type="text" name="title" placeholder="name of website">
			<label> URL </label>
			<input type="text" name="url" placeholder = "URL">
			<label> Tags </label>
			<input type="text" name="tags" placholder = "tags">
			<label> Description</label>
			<input type="text" name="description" placholder = "description text">
			<button class="button" name="add" >add</button>
		</form>
	</div>


	<ul>
		<% @links.each do |link| %>
		<li class='link'>
			<a class='title' href="<%= link.url %>"><%= link.title %></a>
			<div class='description'>
				<%= link.description %>
  		</div>
  		<span class='source'> added yesterday by <a href="#"><%= link.user.email%></a>
  		</span>


			<% link.tags.each do |tag|%>
				<a href="/tags/<%= tag.tagname%>" class="tag">
					<%=tag.tagname %>
				</a>
			<% end %>
		</li>
		<% end %>
	</ul>

</body>
